<nav class="navbar navbar-expand-sm navbar-dark sticky-top navbar-expand-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuc">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="menuc">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" id="home" href="Index.html">Home</a></li>
      &nbsp;&nbsp;
      <li class="nav-item"><a class="nav-link" href="#">Specials</a></li>
      &nbsp;&nbsp;
      <li class="nav-item"><a class="nav-link" id="menu" href="menu.html">Menu</a></li>
      &nbsp;&nbsp;
      <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
    </ul>
  </div>
  <form class="form-inline" action="#">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <span class="input-group-text material-icons btn bg-white">search</span>
      </div>
    </div>
  </form>
</nav>